.OracleContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('../../images/crystal-ball-g993c8419d_640.png');
    background-size: 320px;
    height: 320px;
    width: 320px;
}

.OracleText {
    position: relative;
    top: 135px;
    font-size: 40px;
}

.InterventionPointCount {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 33%;
}

.StrikeCounter {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 33%;
}

.OracleLog {
    position: absolute;
    top: 320px;
    left: 0px;
    width: 320px;
}

.Question {
    position: relative;
    right: 0px;
    text-align: right;
    background-color: rgba(0, 255, 0, 0.25);
}

.Answer {
    position: relative;
    left: 0px;
    text-align: left;
    background-color: rgba(0, 0, 255, 0.25);
}