.PortentContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url('../../images/scroll-ga998de727_640.png');
    background-size: 237px;
    height: 160px;
    width: 237px;
    display: table-row;
}

.PortentText {
    color: #282c34;
    position: relative;
    top: 35px;
    font-size: 20px;
}

@media (min-width: 961px) {
    .PortentContainer {
        position: absolute;
        top: 0px;
        right: 0px;
        background-image: url('../../images/scroll-ga998de727_640.png');
        background-size: 474px;
        height: 320px;
        width: 474px;
        display: table-row;
    }

    .PortentText {
        color: #282c34;
        position: relative;
        top: 90px;
        font-size: 40px;
    }
}