.PortentContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url('../../images/scroll-ga998de727_640.png');
    background-size: 474px;
    height: 320px;
    width: 474px;
    display: table-row;
}

.PortentText {
    position: relative;
    top: 100px;
    font-size: 40px;
}